*::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  outline: none;
}
*:-moz-placeholder {
  color: #fff;
  opacity: 1;
  outline: none;
}
*::-moz-placeholder {
  color: #fff;
  opacity: 1;
  outline: none;
}
*:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  outline: none;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #fff;
  outline: none;
}
body input:required:valid,
body textarea:required:valid {
  color: #fff;
  outline: none;
}

body {
  font-size: 15px;
  color: #333;
  min-width: 320px;
  position: relative;
  line-height: 1.375em;//22px
  font-family: $default-font;
  overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
  color: $main-color;
  text-decoration: none;
  outline: none;
}

img { width: 100%; }

h1, h2, h3, h4, h5, h6 {
  @extend .headers;
  line-height: 1.375em;
}

h1 { font-size: 3.2em; } //48px
h2 { font-size: 2em; } //30px
h3 { font-size: 1.6em; } //24px

b, strong { font-family: 'RalewayBold'; font-weight: normal; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

