* { margin: 0; padding: 0; }
html { overflow-y: scroll; }
body { font: 12px Georgia; }

#page-wrap { width: 690px; margin: 20px auto; }

h1 { font: 30px Georgia; margin: 0 0 10px 0;  }

.flavor { margin: 0 0 15px 0; clear: both; overflow: hidden; }
.flavor img { float: left; margin: 0 15px 0 0; }
.flavor p { float: left; width: 460px; } 
#flavor-nav { margin: 0 0 15px 0; }
#flavor-nav a { padding: 2px 6px; border: 1px solid #A74C10; }
#flavor-nav a:hover, #flavor-nav a.current { background: #A74C10; color: white; }