@font-face {
  font-family: "opensans-extrabold";
  src: url("../fonts/opensans-extrabold/opensans-extrabold.eot");
  src: url("../fonts/opensans-extrabold/opensans-extrabold.eot?#iefix") format('embedded-opentype'),
       url("../fonts/opensans-extrabold/opensans-extrabold.woff") format('woff'),
       url("../fonts/opensans-extrabold/opensans-extrabold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "opensans-semibold";
  src: url("../fonts/opensans-semibold/opensans-semibold.eot");
  src: url("../fonts/opensans-semibold/opensans-semibold.eot?#iefix") format('embedded-opentype'),
       url("../fonts/opensans-semibold/opensans-semibold.woff") format('woff'),
       url("../fonts/opensans-semibold/opensans-semibold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "lobster_1.4";
  src: url("../fonts/lobster_1.4/lobster_1.4.eot");
  src: url("../fonts/lobster_1.4/lobster_1.4.eot?#iefix") format('embedded-opentype'),
       url("../fonts/lobster_1.4/lobster_1.4.woff") format('woff'),
       url("../fonts/lobster_1.4/lobster_1.4.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format('embedded-opentype'),
       url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format('woff'),
       url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
