/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .wrapper {
    padding: 0 1em;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .header { 
    text-align: center;
    .logo-block{ float: none; }
    .mobile_nav {
      display: block;
      left: 29px;
      position: absolute;
      top: 25px;
    }
    .main-nav { 
      transition: 1s;
      position: absolute;
      top: 0px;
      left: 0;
      opacity: 0;
      visibility: hidden;
      width: 100%;
    }
    .main-nav_mobile {
      background: rgba(183,182,179,.7); 
      position: absolute;
      top: 100px;
      left: 0;
      opacity: 1;
      visibility: visible;
    }
  }
  .slider__content { padding: 0 1em; }
  .main_heading { font-size: 2.2rem; }
  .slider_text { font-size: 1.3rem; }
  .arrow-left { left: 5px; }
  .arrow-right { right: 5px; }
  .team {
    padding-bottom: 3em;
    .senior-staff {
      flex-wrap: wrap;
      justify-content: center;
      .box { margin-top: 1em; }
      .box-text { padding-top: 1em; }
    }
  }
  .plans {
    padding-bottom: 3em;
    .plans-line {
      flex-wrap: wrap;
      justify-content: center;
      .offer { margin: 1%; }
    }
  }
  .ftr__content {
    margin-top: 2em;
    .ftr__right,
    .ftr__left {
      float: none;
      width: 100%;
      text-align: center;
    }
    .ftr_form { margin-top: 1em; }
    .input__block { justify-content: center; }
    .ftr_btn { float: none; }
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .main_heading { 
    padding-top: 0em;
    font-size: 3em;
  }
  .nav__item { 
    display: block;
    line-height: 60px;
  }
  .slider_text { display: none; }
  .input__block { display: block; }
  .form_inp { max-width: 100%; }
}
