.sect1 {
  .section-button { background: $section-button-color1; }
}

  .section-content{
    background: url(../img/s1_gray_bg.png) no-repeat top;    
    position: relative;
    padding-bottom: 90px;

    .sect1-triangle {
      height: 90px;
      position: absolute;
      background: url(../img/s1_triangle.svg)no-repeat  top;
      background-size: 100% 100%;
      z-index: 2;
      width: 100%;
      text-align: center;
      .triangle-logo {
        width: 116px;
        margin-top: 30px;        
      }
      .scales {
        width: 160px;
        position: absolute;
        top: -130px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
      }
    }//validation triangle / End

  }//section content / End

  .sect1-item {
    max-width: 320px;
    line-height: 1.1875em;
    margin: 48px 0;

    h4 {
      margin: 0 0 10px;

      a {
        text-decoration: underline;
        text-transform: none;
        line-height: 1.4375em;
        font-size: 1.4375em;
        &:hover { text-decoration: none; }
      }
    }

    p {
      font-size: 1em;
      border-bottom: #DEE1E5 1px solid;
      padding-bottom: 20px;
    }
  }

  .sect1-item-wrap { text-align: center; z-index: 2;}
  .sect1-item-wrap:nth-child(2) .sect1-item { margin-top: 0; }
  .sect1-item-wrap:nth-child(4) .sect1-item { margin-bottom: 0; }

  .sect1-bottom {
    padding: 15px 0;
    background: #394b5f;
    p { color: #fff; }
    .sect1-item-wrap:nth-child(1),
    .sect1-item-wrap:nth-child(3) { margin-top: -100px; }
  }

