.triangles-container {
  color: #fff;
  font-family: "PFCentroSlabProMedium";
  font-size: 1.1875em;
  margin: 20px 0 30px;
  text-align: center;

  .tc-item {
    width: 290px;
    height: 128px;
    display: inline-block;
    position: relative;
    margin-left: -45px;
    vertical-align: top;
    transition: all .5s ease;
    cursor: default;
    &:hover {
      transform: scale(1.1);
      z-index: 3;
      path {
        fill-opacity: 0 !important;
        stroke-opacity: 1 !important;
      }
    }
    svg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .tc-content {
      position: relative;
      z-index: 1;
      margin-top: 43px;
      margin-left: 60px;
      text-align: left;
      padding-left: 40px;
      padding-right: 20px;
      opacity: 0;
      transition: 1s ease;
      &-on { opacity: 1;}
      img {
        height: 40px;
        float: left;
        margin-left: -40px;
        margin-right: 32px;
      }
      span {
        font-size: 1.25em;
        margin-left: -22px;
        position: absolute;
      }
    }
  }

  .tc-item:first-child { margin-left: 0; }
}