.slider {
  .slide {
    text-align: center;
    .img-wrap {
      width: 116px;
      height: 116px;
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 0 6px $main-color;
      margin: 10px;
    }
    h3 {
      font-family: 'RalewayRegular';
      text-transform: none;
      font-size: 1.5em;
      margin-bottom: 7px;
    }
    .slide-descr { font-size: .875em; color: #6E7B8B; }
    p { transition-delay: .8s; margin-top: 18px; }
  }
}