.teams {
  @extend .cards;
  .team {
    @extend .card;
    background: $section-button-color2;
    transition: 1s ease;
    &:hover { background: $main-color; }
    &:hover .card-icon { transform: scale(1.5); }
    &-off { @extend .card-off; }
    &-on { @extend .card-on; }
    .card-icon {
      overflow: hidden;
      background: transparent;
      box-shadow: 0 0 0 5px #D6D6D6;
      img { width: 100%; vertical-align: top; }
    }
    h4 {
      color: #333;
      text-transform: none;
      margin-top: 35px;
      margin-bottom: 10px;
    }
    p {
      font-size: .9375em;
      color: #6e7b8b;
    }
    .team-phone {
      margin-top: 20px;
      font-family: 'RobotoBold';
      font-size: 1.125em;
      color: #333;
    }
  }
}