$default-font: "RalewayRegular", sans-serif;
$main-color: #f39f18;
$headers-color: #2c3949; // light-blue

$section-button-color1: #2C3949; //dark-blue
$section-button-color2: #E5E5E5; //light-grey

$sect3-bg: $headers-color;
$sect4-bg: $section-button-color2;
$sect7-bg: $section-button-color2;