.button-wrap { text-align: center; }

.buttons {
  border: none;
  background: $main-color;
  border-bottom: 3px solid #b97200;
  border-radius: 50px;
  color: #111;
  display: inline-block;
  font-family: 'RalewaySemiBold';
  font-size: 1.466666666666667em; //22px
  padding: 12px 22px;
  margin-top: 12px;
  transition: all .5s ease;
  &:hover { background: #ffb338; color: #111;}
  &:active { background: #d88c0e;  color: #111;}
  &:focus { color: #111; }
}