.forms {
  background: transparentize(#243343, .2);
  padding: 35px;
  color: #97a4b2;
  font-size: 0.9333333333333333em;
  border-bottom: 3px solid #1a222b;
  h4 {
    color: #fff;
    font-size: 2.266666666666667em; //34px
    font-family: 'PFCentroSlabProMedium';
    text-transform: none;
    margin: 0;
  }
  p { line-height: 1.4375em; margin-top: 15px; }
  label {
    margin: 22px 0;
    display: block;
    span { 
      letter-spacing: 1.5px;
      display: block;
      margin-bottom: 6px;
      color: #778390;
    }
    input {
      display: block;
      width: 100%;
      border: none;
      box-shadow: 0 -3px #1f2a36;
      background: #34465a;
      text-indent: 10px;
      padding: 10px 0;
      transition: all 1s ease;
      &:focus { box-shadow: 0 -5px $main-color; background: #394e65; }
    }
  }
}