@media only screen and (max-width : 768px) {
  .wrapper { padding: 0 40px; }
  .header {
    border-top: 3px solid #ff4a3e;
    height:auto;
    box-shadow: none;
    .wrapper { padding: 0; }
  }
  .header-nav__item { display: none; }
  .mobile_nav { display: block; margin-left: 50px;}
  .header-nav:hover li {
    display: block;
    width: 100%;
    & a {
    border-bottom: 2px dotted #a3a19d;
    margin: 0  9%;
    color: #a3a19d;
    font-size: 1.125rem;
    line-height: 70px;
    &:hover { color: #f3744a; }
    }
  }
  .header-nav__item {
    background: #514c42;
    float: left;
  }
  .header-nav__item:nth-child(2) { margin-top: 70px; }
  .right-side { margin-left: 0; }
  .banner { padding-top: 20px; }
  .banner-title {
    font-size: 2rem;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
  }
  .slider { margin-top: 65px; }
  .content { padding-bottom: 50px; }
  .content_art { padding-right: 0; }
  .content-img {
    flex-direction: column;
    align-items: center;
    &__item {
      font-size: 1.25rem;
      line-height: 20px;
      margin-bottom: 20px;
      width: 100%;
    }
  }
  .box-shadow { margin-bottom: 20px; }
  .footer-top,
  .footer_copy { display: none; }
  .footer_btm {
    background: linear-gradient( #d9d7cd 0%,#ada8a1 100%);
    padding: 40px 0;}
  .footer__icons {
    float: none;
    & li { margin-right: 0; }
  }
}
