.headers {
  font-family: 'PFCentroSlabProMedium';
  text-transform: uppercase;
  color: $headers-color;
}

.before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


//section style
.section {
  position: relative;
  background: #f9f9f9;
  padding-top: 70px;

  //waves image
  &::before {
    content: '';
    height: 6px;
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    background: url(../img/bah_1.png);
  }

  .section-head {
    margin-bottom: 30px;

    h2 {
      text-align: center;
      position: relative;

      //heading underline
      &::after {
        content: '';
        position: absolute;
        bottom: -30px; left: 50%;
        height: 4px;
        background: $main-color;
        width: 160px;
        transform: translateX(-50%);
      }
    }

    h3 {
      text-align: center;
      margin-top: 50px;
      a { 
        text-decoration: underline;
        &:hover { text-decoration: none; }
      }
    }

    p { margin-top: 60px; text-align: center; animation-delay: .4s !important; }
  }
}


//button section
.section-button {
  background: $section-button-color1;
  padding: 30px 0;
  text-align: center;
}


.flex { @include flex(wrap, center); }


//cards
.cards-wrapper {   padding-bottom: 70px; }

  .cards {
    text-align: center;
    perspective: 600px;
    .card {
      background-color: #2C3949;
      border-bottom: #1A222B 4px solid;
      color: #97a4b2;
      font-size: .9375em;
      line-height: 1.3125em;
      margin: 0 12px 30px;
      padding: 54px 28px 48px;
      width: 260px;
      transition: 1.2s ease;
      &-off { transform: rotateY(100deg); opacity: 0; }
      &-on { opacity: 1; }
      .card-icon {
        width: 120px;
        height: 120px;
        background: $main-color;
        border-radius: 50%;
        display: inline-block;
        line-height: 120px;
        transition: .5s ease;
        &:hover { transform: scale(1.5); }
        img { 
          width: 75px;
          max-width: 100%;
        }
      }
      h4 {
        color: #E5E5E5;
        font-size: 1.125em;
        margin-top: 30px;
        margin-bottom: 18px;
      }
      strong { color: $main-color; }
    }
  }