@media only screen and (max-width: 1296px) { 
    .sect2-slider {
    	max-width: 85vw;
    	margin: 21px auto 0;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header .top-line p { font-size: 1.25rem; }

	.sect2 {
		h2, p { padding: 0 $container-indent; }
	}

	.nav-food h2 { padding: 0 $container-indent; }

	.footer {
		padding-left: $container-indent;
		padding-right: $container-indent;
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){

	.header-nav {
		padding-top: 28px;
		.logo {
			width: 175px;
			height: 175px;
			padding: 10px 0 0 10px;
			margin-left: -85px;
			margin-top: -75px;
			a {
				width: 155px;
				height: 155px;
				background-size: 120px 100px;
				background-position: center 15px;
			}
		}

		.main-nav {
			.left-mnu { padding-right: 90px; }
			.right-mnu { padding-left: 90px; }
			.nav-link { 
				font-size: 1.25rem;
				a { padding: 0 15px; }
			}
		}
	}

	.sect2 { padding: 0; }
	.sect2-slider {
		max-width: 100vw;
		.slick-arrow { display: none; }
	}


	.food-slider button { display: none; }

	.food-content_wrapper {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.nav-food .food-content {
		padding-left: 0px;
		.scroll-style { padding-right: 0; }
		img {
			width: 50%;
			margin-right: 15px;
		}
	}

	.sect3 { margin-top: 0px; }

	.footer {
		.footer-address,
 		.footer-phone,
 		.footer-social {
 		 		p { font-size: 1.125rem; }
 		}
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
	h2 { font-size: 1.125rem; text-align: center;}
	h4, p { font-size: 0.875rem; }

	.header {
		.top-line { display: none; }

		.header-nav {
			padding-top: 0;
			margin-top: 0;
			height: 50px;
		}

		.logo-wrap {
			float: none;
			width: 100%;
			text-align: center;
			margin-top: -100px;
		}
		.logo {
			display: inline-block;
			margin: 0;
			padding: 60px 0 0;
			a {
				border: none;
				background-size: 90px 70px;
			}
		}

		#hamburger-icon { display: inline-block; }

		.main-nav {
			background: rgba(0,0,0,.7);
			height: 100vh;
			width: 100vw;
			padding-top: 100px;
			position: absolute;
    		top: 0;
    		left: -2000px;
    		transition: .5s ease-out;
			.left-mnu,
			.right-mnu {
				float: none;
				width: 100%;
				padding: 0;
			}
			.nav-link {
				width: 100%;
				margin-bottom: 15px;
				a {
					padding: 15px;
					&::before { display: none; }
				}
			}
		}
	}

	.sect1 {
		padding-top: 190px;
		padding-bottom: 0;
		.sect-wrapper{
			padding: 20px 15px 45px;
			p { text-align: left;}
			.sect1-btn { display: block; }
		}
	}

	.sect2 .slick-slide img {
		max-height: 350px;
		border-radius: 5px;
	}

	.nav-food h2 {
		background: #fff;
		height: 70px;
		padding-top: 30px;
	}

	.food-slider {
		margin-top: 0;
		.slick-list { height: 45px !important; margin: 0 30px !important; }
		.slick-slide {
			height: auto !important;
			h4 { height: auto !important;}
			img { display: none;}
		}
	}
	.food-content_wrapper {
		margin: 0 !important;
	}
	.nav-food .food-content {
		background: #fff;
		img { display: none; }
		.scroll-wrapper {
			position: relative;
			padding-bottom: 95px;
			width: 100%;
		}
		.scroll-style {
			padding: 0;
			.food-title {
				font-size: 1rem;
				padding: 15px 15px 7px;
				border-bottom: 1px solid #f4ecd6;
				.food-arrow { display: block; }
			}
			.food-text { font-size: 0.75rem; display: none; padding: 0 15px; margin-bottom: 0;}
			.dotted { display: none; }
		}
	}

	.sect3 {
		padding-top: 190px;
		padding-bottom: 60px;
		.art-wrapper { padding-bottom: 70px; }
	}

	.footer {
		.flex { flex-direction: column; }
		.footer-address { max-width: 100%; }
		.footer-phone {
			text-align: left;
			.phone-marker { left: 0;}
		}
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.sect2 {
		.slick-list{ padding:0 20% 0 0 !important; }
		.slick-slide img {
			max-width: 300px;
			max-height: 238px;
			border-radius: 10px;
		}		
	}

	.food-slider {
		.slick-list { height: 60px !important; }
		.slick-slide { height: auto !important;	}
	}

	.footer {
		.footer-address,
	 	.footer-phone,
	 	.footer-social {
	 		p, a { font-size: 0.875rem; }
	 	}
	 	.footer-social .fb { top: 0; }
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
	/**/
}

