.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  @media only screen and (max-width : 1200px) { padding: 0 15px; }
}
.clearfix::after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
}
.btn {
  border-radius: 5px;
  color: #fff;
  transition: .5s ease;
  }