@mixin line {
  background-color: #00ccce;
    bottom: 0px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transition: .3s ease-in-out;
    width: 100%;
}
@mixin flex-box {
  display: flex;
  justify-content: space-between;
}
@mixin social-style($background) {
  background: $background;
  border-radius: 50px;
  display: inline-block;
  font-size: 1.4375rem;
  height: 42px;
  line-height: 42px;
  margin-right: 15px;
  text-align: center;
  transition: .5s;
  transform: translate(0, 0);
  width: 42px;
  & i { color: #fff; }
  &:hover { transform: translate(0px, -10px); }
}